@model  IEnumerable<TdtuTube.Models.Video>

@{
    ViewBag.Title = "Quản lý video";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
    <table id="videoTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Desctiption</th>
                <th>Like</th>
                <th>View</th>
                <th>Length</th>
                <th>Feature</th>
                <th>Locked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.id</td>
                    <td style="width:200px;">@v.title</td>
                    <td style="width:500px;">@v.description</td>
                    <td>@v.like_count</td>
                    <td>@v.view_count</td>
                    <td>@v.length</td>
                    @if ((bool)!v.feature)
                    {
                        <td>
                            <a href="@Url.Action("setFeature","videos", new {id = v.id})">
                                <i class="fa-regular fa-square"></i>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="@Url.Action("setFeature","videos", new {id = v.id})">
                                <i class="fa-sharp fa-regular fa-square-check"></i>
                            </a>
                        </td>
                    }
                    @if ((bool)!v.status)
                    {
                        <td>
                            <a href="@Url.Action("lockOrUnlock","videos",new {id = v.id})">
                                <i class="fa-solid fa-lock-open"> </i>
                                <span> - Khóa</span>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="@Url.Action("lockOrUnlock","videos",new {id = v.id})">
                                <i class="fa-solid fa-lock"></i>
                                <span> - Mở khóa</span>
                            </a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

