@model  IEnumerable<TdtuTube.Models.Video>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<button class="btn btn-outline-primary">
    @Html.ActionLink("Thêm video mới", "CreateVideo")
</button>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Desctiption</th>
            <th>Like</th>
            <th>View</th>
            <th>Length</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.id</td>
                <td>@v.title</td>
                <td>@v.description</td>
                <td>@v.like</td>
                <td>@v.view</td>
                <td>@v.length</td>
                <td><a href="#">Chỉnh sửa</a> | <a href="#">Xóa</a></td>
            </tr>
        }
    </tbody>
</table>

