@model TdtuTube.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - TdtuTude</title>
    <link rel="stylesheet" href="~/Content/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="login-form" class="center" style="display:block">
        <a href="@Session["ReturnURL"]"><i class="material-icons text-white cursor-pointer back-home-page">keyboard_arrow_left</i></a>
        <h1 style="position: relative">Login</h1>
        @using (Html.BeginForm("PostLogin", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="txt_field">
                @Html.TextBoxFor(u => u.email, new { @required = "required", @type = "email", @placeholder = " " })
                <span></span>
                @Html.Label("Email")


            </div>

            <div class="txt_field">
                @Html.PasswordFor(u => u.password, new { @required = "required", @placeholder = " " })
                <span></span>
                @Html.Label("Password")
            </div>
            <div class="error-login-massage">
           
                @Html.ValidationMessageFor(u => u.email)
                @Html.ValidationMessageFor(u => u.password)
            </div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a onclick="toggleLogin()">Signup</a>
            </div>
            <div><a href="@Session["Error"]"> @ViewBag.Error</a></div>

        }
    </div>
    <div id="register-form" class="center" style="display: none">
        <a href="@Session["ReturnURL"]"><i class="material-icons text-white cursor-pointer back-home-page">keyboard_arrow_left</i></a>
        <h1 style="position: relative">Register</h1>
        @using (Html.BeginForm("PostSignUp", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="txt_field">
                @Html.TextBoxFor(u => u.email, new { @required = "required", @type = "email", @placeholder = " " })
                <span></span>
                @Html.Label("Email")

            </div>
            <div class="txt_field">
                @Html.TextBoxFor(u => u.name, new { @required = "required", @placeholder = " " })
                <span></span>
                @Html.Label("Name")
            </div>
            <div class="txt_field">
                @Html.PasswordFor(u => u.password, new { @required = "required", @placeholder = " ", @id = "signupPw" })
                <span></span>
                @Html.Label("Password")

            </div>
            <div class="txt_field">
                <input type="password" onkeyup="checkPass(this)" required placeholder=" " id="signupCfPw" />
                <span></span>
                <label>Re-Enter Password</label>
            </div>
            <div class="error-login-massage">
                @Html.ValidationMessageFor(u => u.email)
                @Html.ValidationMessageFor(u => u.password)
            </div>
            <input id="signupBtn" type="submit" value="Sign Up" hidden>
            <div class="signup_link">
                Have account <a onclick="toggleLogin()">Login here !!</a>
            </div>

        }
    </div>
    <script>
        let a = document.getElementById("signupCfPw")
        function checkPass(a) {
            let pw = document.getElementById("signupPw").value
            let signupBtn = document.getElementById("signupBtn")
            if (a.value == pw) {
                signupBtn.hidden = false
            } else {
                signupBtn.hidden = true
            }

        }
        function toggleLogin() {
           
            let login = document.getElementById("login-form");
            let register = document.getElementById("register-form");
            if (login.style.display == "block" && register.style.display == "none") {
                login.style.display = "none";
                register.style.display = "block";
            } else {
                login.style.display = "block";
                register.style.display = "none";
            }
        }
    </script>
</body>
</html>
