@model IEnumerable<TdtuTube.Models.PlaylistContainVideoModel>

@foreach (var i in Model)
{
    <!-- Playlist card -->
    <div class="playlist-add-item" style="margin-left: 14px">
        <div class="playlist-item-ist">
            <!-- Playlist name -->
            <label class="checkbox-container">
                @i.Playlist.name
                @if (i.contain_video)
                {
                    <input onclick="addVideoToPlaylist(event, @i.Playlist.id, '@i.Playlist.name');" type="checkbox" checked="checked">
                }
                else
                {
                    <input onclick="addVideoToPlaylist(event, @i.Playlist.id, '@i.Playlist.name');" type="checkbox">
                }
                <span class="checkmark"></span>
            </label>
            <!-- Playlist privacy -->
            <div style="margin-right: 12px">
                @if (i.Playlist.privacy)
                {
                    <i class="material-icons text-white md-21">lock</i>
                }
                else
                {
                    <i class="material-icons text-white md-21">public</i>
                }
            </div>
        </div>
    </div>
}