@model  IEnumerable<TdtuTube.Models.HomeMenu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@if (TempData["menuEditError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["menuEditError"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["menuEditSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["menuEditSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<table id="homemenuTable" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Hiển thị</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.id</td>
                <td>@menu.name</td>
                @if ((bool)@menu.hide == false)
                {
                    <td>
                        <a href="@Url.Action("hideOrShow","homemenus",new {id = menu.id})">
                            <span style="color:black;">Hiển thị</span>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="@Url.Action("hideOrShow","homemenus",new {id = menu.id})">
                            <span style="color:black;">Không hiển thị</span>
                        </a>
                    </td>
                }
                <td><button class="btnEdit" onclick="openEditModal(@menu.id,'@menu.name')" data-bs-toggle="modal" data-bs-target="#editTag">Chỉnh sửa</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="editTag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Chỉnh sửa Home Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "homemenus", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input type="hidden" name="id" id="editId" />
                    <div class="form-group m-3">
                        <label for="name">Tên của menu</label>
                        <input type="text" class="form-control" name="name" id="editName" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary ">Sửa</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function openEditModal(id, name) {
        document.getElementById("editName").value = name
        document.getElementById("editId").value = id
    }
</script>
