@model IEnumerable<TdtuTube.Models.PlaylistContent>
@using TdtuTube.Libs
@{
    int index = 0;
    string itemBackground;
    var playlist = Model.FirstOrDefault().Playlist;
    bool isCurrVideo = false;
    bool isNextVideo = false;
}
<div class="playlist-panel">
    <div id="pl-header" class="playlist-header" style="color: white; position: relative">
        <div class="header-content">
            <div class="header-top-row">
                <div class="header-description">
                    <h3 id="pl-title-open" style="font-size: 20px;">
                        <span>
                            @playlist.name
                        </span>
                    </h3>

                    <h3 id="pl-title-close" style="font-size: 14px;" hidden>
                        Hết danh sách phát
                    </h3>

                    <div class="publisher-container">
                        <span id="ps-close" style="color:#a3c7cc !important" hidden>@playlist.name</span>
                        <span id="ps-open">@playlist.User.name - @playlist.video_count video</span>
                    </div>
                </div>
            </div>
        </div>

        <span onclick="closePlaylist(this)" class="close-playlist-btn">
            <i class="material-icons text-gray-400 md-21">close</i>
        </span>

    </div>
    <div id="items">
        @foreach (var i in Model)
        {
            index = index + 1;
            if (ViewBag.VideoMeta != i.Video.meta)
            {
                itemBackground = "playlist-item-background";
            }
            else
            {
                itemBackground = "playlist-item-background-play";
            }
            <div onclick="window.location.href = '/watch/@i.Video.meta/playlist/@i.Playlist.meta';" class="@itemBackground playlist-items cursor-pointer">
                <div id="wc-endpoint">
                    <div class="playlist-item-container">
                        <div class="playlist-counter">
                            @if (ViewBag.VideoMeta != i.Video.meta)
                            {
                                @index
                            }
                            else
                            {
                                <i class="material-icons text-white cursor-pointer">play_arrow</i>
                                isCurrVideo = true;
                            }
                        </div>
                        <div class="pl-thumbnail-container">
                            <div class="pl-thumbnails">
                                <div class="pl-thumbnail">
                                    <img src="@i.Video.thumbnail" alt="">
                                    <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">@i.Video.length</span>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-meta">
                            <h4>
                                @i.Video.title
                            </h4>
                            <div class="byline-container">
                                <span class="byline">
                                    @i.Video.User.name
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            if (isNextVideo)
            {
                isNextVideo = false;
                <script>document.getElementById("pl-title-close").textContent = "Tiếp theo: @i.Video.title";</script>
            }
            if (isCurrVideo)
            {
                isNextVideo = true;
                isCurrVideo = false;
            }
        }
    </div>
</div>