@model  IEnumerable<TdtuTube.Models.Video>
@using TdtuTube.Libs

<div class="watch-video_grid-right">
    <div class="video-offer">
        @foreach (var i in Model)
        {
            <div class="video-offer__ist">
                <div class="video-offer__item">
                    <div class="video-offer__img relative">
                        <a href="/watch/@i.meta">
                            <img class="img-offer" src="@i.thumbnail" alt="thumbnail">
                            <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">@i.length</span>
                        </a>

                    </div>
                    <div class="video-offer__content">
                        <h3 style="font-size: 16px"><a href="/watch/@i.meta" title="@i.title">@VideoFormat.titleShortening(i.title, 28)</a></h3>
                        <span><a href="/channel/@i.User.meta">@i.User.name</a></span>
                        <span>@VideoFormat.readableNumber((int)i.view_count) lượt xem • @VideoFormat.dateAgo((DateTime)i.datebegin)</span>
                    </div>
                </div>
            </div>
        }
    </div>

</div>