@model TdtuTube.Models.Video
@using TdtuTube.Libs
@{
    ViewBag.Title = "TdtuTude";
}

<div class="flex flex-col lg:ml-60 w-full lg:w-4/5 xl:w-5/6" id="mainContainer">

    <div id="container-video" style="margin-left: 4rem; margin-top: 4.5rem">
        @if (Model == null)
        {
            <h1>Video không tồn tại</h1>
        }
        else if (Model.privacy == true)
        {
            <h1>Đây là Video riêng tư</h1>
        }
        else
        {
            <div id="watch-video" onload="display_sidebar()">
                <div id="notification-wrapper"></div>
                <div class="watch-video_grid">
                    <div class="watch-video_grid-left" style="padding-top: 13px">

                        <div class="video-play">
                            <video controls autoplay>
                                <source src="@Model.path" type="video/mp4">

                                Your browser does not support the video tag.
                            </video>
                        </div>

                        <div class="video-content">
                            <div class="video-content-heading">
                                <h1 style="font-size: 2rem;">@Model.title</h1>
                                <div id="channel-row">
                                    <div id="owner">
                                        <div class="owner-info">
                                            <a href="/channel/@Model.User.meta" class="owner-img">
                                                <img src="@Model.User.avatar_path" alt="">
                                            </a>
                                            <div class="owner-name-follow">
                                                <div class="owner-name">
                                                    <a href="/channel/@Model.User.meta" title="@Model.User.name">@Model.User.name</a>
                                                </div>
                                                <div class="owner-follow">
                                                    @VideoFormat.readableNumber((int)Model.User.subscriber_count) người đăng ký
                                                </div>
                                            </div>
                                            <div class="sub-btn">
                                                <div class="font-btn">
                                                    @if (Session["UserID"] == null)
                                                    {
                                                        <button><a href="/login">Đăng kí</a></button>
                                                    }
                                                    else
                                                    {

                                                        if ((int)Session["UserID"] != Model.User.id)
                                                        {
                                                           
                                                                { Html.RenderAction("subscribeChannel", "Watch", new { userId = Session["UserID"], ownerId = Model.User.id }); }
                                                            
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                    <div class="video-content-description">
                                        <div class="video-content-description-view">
                                            <span>@VideoFormat.readableNumber((int)Model.view_count) lượt xem</span>
                                            <span>@VideoFormat.dateAgo((DateTime)Model.datebegin)</span>
                                        </div>
                                        <p>@Model.description</p>
                                    </div>
                                </div>
                            </div>

                            <div class="reload-comment">

                            </div>
                            <div class="video-comment">
                                <div class="video-content-comment">
                                    <div class="video-content-comment__number">@Model.comment_count bình luận</div>
                                    <div class="video-content-comment__post">
                                        <!-- Check session image. -->
                                        @{
                                            if (Session["UserID"] != null)
                                            {
                                                <img class="image-profile" src="@Session["UserAvatarPath"]" alt="IMAGE">


                                                <div class="video-content-comment__form">
                                                    <input class="video-content-comment__video" type="hidden" name="video-id">
                                                    <input class="video-content-comment__input" type="text" name="comment" placeholder="Viết bình luận...">
                                                    <div class="video-content-comment__line"></div>
                                                    <button class="btn-comment" type="submit" disabled>Bình luận</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <img class="image-profile" src="~/Uploads/Avatars/Default.png" alt="IMAGE">
                                                <div class="video-content-comment__form">
                                                    <input class="video-content-comment__video" type="hidden" name="video-id">                                                    
                                                    <input class="video-content-comment__input" type="text" name="comment" placeholder="Viết bình luận..." onclick="location.href='/login'">
                                                    <div class="video-content-comment__line"></div>
                                                    <button class="btn-comment" type="submit" disabled>Bình luận</button>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="video-content-comment__list">
                                    @foreach (var i in Model.Comments)
                                    {
                                        <div class="video-content-comment__item">
                                            <img class="image-profile" src="@i.User.avatar_path" alt="IMAGE">
                                            <div class="video-content-comment__item-heading">
                                                <div>
                                                    <span>@i.User.name</span>
                                                    <span>@VideoFormat.dateAgo((DateTime)i.datebegin)</span>
                                                </div>
                                                <p>@i.content</p>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                    @{Html.RenderAction("getVideos", "Watch", new { videoId = Model.id, tagId = Model.tag_id });}
                </div>
            </div>
        }
    </div>

</div>

<script>
    document.getElementById("sideBar").style.display = "none"
    document.getElementById("mainContainer").classList.remove("lg:ml-60");
    document.getElementById("mainContainer").classList.remove("lg:w-4/5");
    document.getElementById("mainContainer").classList.remove("xl:w-5/6");
    document.getElementById("mainContainer").classList.add("lg:w-5/5");
    function subscribeAction(e) {
        if (e.innerHTML === "Đăng ký") {
            e.innerHTML = "Đã đăng ký";
        } else {
            e.innerHTML = "Đăng ký"
        }
    }
</script>