@using TdtuTube.Libs
@model IEnumerable<TdtuTube.Models.Video>
<div class="videos-container" id="videos-container">
    <!-- one video card -->
    @foreach (var i in Model)
    {
        <div class="flex flex-col space-y-3 cursor-pointer">
            <!-- thumbnail -->
            <a href="/watch?v=@i.meta">
                <div class="relative h-52 sm:h-36 w-full">
                    <img class="relative h-full w-full object-cover" src="@i.thumbnail" alt="">
                    <span class="absolute right-1 bottom-1 p-0.5 px-1 rounded-sm bg-black text-white text-xs bg-opacity-70">@i.length</span>
                </div>
            </a>
            <!-- video details -->
            <div class="flex flex-col flex-auto space-y-1.5 mb-3">

                <div class="flex items-center space-x-3">
                    <!-- channel logo -->
                    <a title="@i.User.name" href="/channel/@i.User.meta">
                        <img class="w-12 h-12 rounded-full object-cover cursor-pointer" src="@i.User.avatar_path" alt="">
                    </a>
                    <div class="flex items-start">
                        <a title="@i.title" href="/watch=?id=@i.meta" class="text-sm text-bold text-white pr-1">@VideoFormat.titleShortening(i.title)</a>
                    </div>
                </div>

                <!-- channel link and meta data -->
                <div class="flex flex-col pl-1 sm:pl-0 ml-14">
                    <a title="@i.User.name" href="/channel/@i.User.meta" class="text-gray-400 text-sm hover:text-white">@i.User.name</a>
                    <div class="flex space-x-1">
                        <span class="text-xs text-gray-400">@VideoFormat.readableNumber((int)i.view) views</span>
                        <span class="text-xs text-gray-400 sql-date">• @VideoFormat.dateAgo((DateTime)i.datebegin)</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>