@model  IEnumerable<TdtuTube.Models.User>

@{
    ViewBag.Title = "Quản lý user";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<table id="userTable" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subscriber</th>
            <th>Locked</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
            {
            if(user.role_id == 2)
                {
                    <tr>
                        <td>@user.id</td>
                        <td>@user.name</td>
                        <td>@user.email</td>
                        <td>@user.subscriber_count</td>
                        @if ((bool)!user.status)
                        {
                            <td>
                                <a href="@Url.Action("lockOrUnlock","users",new {id = user.id})">
                                    <i class="fa-solid fa-lock-open"> </i>
                                    <span> - Khóa</span>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("lockOrUnlock","users",new {id = user.id})">
                                    <i class="fa-solid fa-lock"></i>
                                    <span> - Mở khóa</span>
                                </a>
                            </td>
                        }
                    </tr>
                }
            }
    </tbody>
</table>

