<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Uploads/images/favicon1.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/style2.css" />
    <link rel="stylesheet" href="~/Content/playlistmodal.css" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="body">

    <!-- top fixed navbar -->
    <nav class="bg-topNavBg w-full p-1 fixed top-0 z-20">
        <!-- navbar container -->
        <div class="flex justify-between items-center px-2 sm:px-6 py-1.5 mx-auto">
            <!-- logo container -->
            <div class="flex items-center space-x-3" style="user-select:none">
                <div class="flex cursor-pointer" id="menu"><i class="material-icons text-white">menu</i></div>
                <div class="w-22 h-5">
                    <a href="/">
                        <svg class="w-full h-full flex-grow" viewBox="0 0 100 20" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <g viewBox="0 0 90 20" preserveAspectRatio="xMidYMid meet" class="style-scope yt-icon">
                                <!doctype html>
                                <svg viewBox="329.154 202.872 97.325 20" width="97.325" height="20"> <g viewBox="0 0 90 20" preserveAspectRatio="xMidYMid meet" class="style-scope yt-icon" transform="matrix(1, 0, 0, 1, 329.154093, 202.872)"> <g class="style-scope yt-icon"> <path d="M27.9727 3.12324C27.6435 1.89323 26.6768 0.926623 25.4468 0.597366C23.2197 2.24288e-07 14.285 0 14.285 0C14.285 0 5.35042 2.24288e-07 3.12323 0.597366C1.89323 0.926623 0.926623 1.89323 0.597366 3.12324C2.24288e-07 5.35042 0 10 0 10C0 10 2.24288e-07 14.6496 0.597366 16.8768C0.926623 18.1068 1.89323 19.0734 3.12323 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6768 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9727 3.12324Z" fill="#FF0000" class="style-scope yt-icon"></path> <path d="M11.4253 14.2854L18.8477 10.0004L11.4253 5.71533V14.2854Z" fill="white" class="style-scope yt-icon"></path> </g> <g class="style-scope yt-icon"> <g id="youtube-paths" fill="white" class="style-scope yt-icon"> <path d="M 38.479 3.667 L 35.68 3.667 L 35.68 18.542 L 32.922 18.542 L 32.922 3.667 L 30.123 3.667 L 30.123 1.4 L 38.479 1.4 L 38.479 3.667 Z" class="style-scope yt-icon"></path> <path d="M 45.417 7.128 L 45.417 1.428 L 47.846 1.428 L 47.846 18.528 L 45.665 18.528 L 45.665 17.378 C 44.882 18.268 43.807 18.764 42.688 18.753 C 42.669 18.754 42.65 18.754 42.632 18.753 C 42.128 18.759 41.624 18.686 41.135 18.537 C 40.33 18.29 39.615 17.767 39.093 17.041 C 38.261 15.899 37.846 14.287 37.846 12.203 C 37.843 11.596 37.884 10.99 37.966 10.39 C 38.063 9.744 38.212 9.16 38.418 8.64 C 38.579 8.225 38.786 7.834 39.036 7.478 C 39.703 6.534 40.69 5.94 41.765 5.84 C 41.971 5.815 42.18 5.803 42.385 5.803 C 42.798 5.8 43.208 5.85 43.61 5.953 C 44.308 6.125 44.942 6.536 45.417 7.128 Z M 42.925 16.228 C 43.163 16.231 43.403 16.204 43.636 16.148 C 43.948 16.071 44.216 15.938 44.442 15.749 C 44.587 15.627 44.716 15.481 44.823 15.315 C 44.969 15.085 45.085 14.832 45.162 14.563 C 45.31 14.081 45.394 13.484 45.414 12.774 C 45.416 12.659 45.417 12.544 45.417 12.428 C 45.423 11.945 45.389 11.461 45.321 10.983 C 45.049 9.213 44.222 8.328 42.835 8.328 C 42.587 8.326 42.34 8.358 42.099 8.423 C 41.631 8.547 41.22 8.861 40.947 9.303 C 40.798 9.55 40.681 9.82 40.603 10.103 C 40.452 10.615 40.365 11.244 40.346 11.99 C 40.343 12.111 40.34 12.232 40.34 12.353 C 40.34 12.69 40.354 13.027 40.383 13.362 C 40.462 14.218 40.651 14.869 40.947 15.316 C 41.193 15.683 41.541 15.95 41.936 16.077 C 42.153 16.153 42.391 16.2 42.654 16.219 C 42.744 16.226 42.835 16.229 42.925 16.228 Z" class="style-scope yt-icon"></path> <path d="M 55.846 16.103 L 55.846 18.628 L 54.396 18.628 C 51.029 18.628 49.346 16.895 49.346 13.428 L 49.346 3.428 L 52.096 3.428 L 52.096 6.028 L 56.171 6.028 L 55.121 8.428 L 52.096 8.428 L 52.096 13.303 C 52.095 13.555 52.111 13.807 52.145 14.057 C 52.182 14.316 52.239 14.549 52.317 14.756 C 52.407 15.004 52.544 15.232 52.721 15.428 C 52.939 15.659 53.211 15.832 53.513 15.932 C 53.717 16.003 53.944 16.052 54.195 16.079 C 54.353 16.095 54.512 16.103 54.671 16.103 L 55.846 16.103 Z" class="style-scope yt-icon"></path> <path d="M 64.488 18.556 L 62.282 18.556 L 62.037 17.023 L 61.976 17.023 C 61.376 18.18 60.478 18.759 59.278 18.759 C 58.448 18.759 57.834 18.486 57.439 17.943 C 57.044 17.397 56.846 16.546 56.846 15.389 L 56.846 6.031 L 59.666 6.031 L 59.666 15.224 C 59.666 15.784 59.727 16.181 59.85 16.419 C 59.972 16.656 60.177 16.776 60.464 16.776 C 60.708 16.776 60.943 16.701 61.169 16.55 C 61.395 16.4 61.56 16.209 61.67 15.979 L 61.67 6.028 L 64.488 6.028 L 64.488 18.556 Z" class="style-scope yt-icon"></path> <path d="M 72.203 3.696 L 69.404 3.696 L 69.404 18.571 L 66.645 18.571 L 66.645 3.696 L 63.846 3.696 L 63.846 1.428 L 72.203 1.428 L 72.203 3.696 Z" class="style-scope yt-icon"></path> <path d="M 79.488 18.556 L 77.282 18.556 L 77.037 17.023 L 76.976 17.023 C 76.376 18.18 75.478 18.759 74.278 18.759 C 73.448 18.759 72.834 18.486 72.439 17.943 C 72.044 17.397 71.846 16.546 71.846 15.389 L 71.846 6.031 L 74.666 6.031 L 74.666 15.224 C 74.666 15.784 74.727 16.181 74.85 16.419 C 74.972 16.656 75.177 16.776 75.464 16.776 C 75.708 16.776 75.943 16.701 76.169 16.55 C 76.395 16.4 76.56 16.209 76.67 15.979 L 76.67 6.028 L 79.488 6.028 L 79.488 18.556 Z" class="style-scope yt-icon"></path> <path d="M 88.478 8.081 C 88.306 7.29 88.031 6.719 87.65 6.364 C 87.269 6.009 86.745 5.832 86.077 5.832 C 85.56 5.832 85.075 5.978 84.626 6.272 C 84.177 6.566 83.829 6.949 83.584 7.427 L 83.563 7.427 L 83.563 0.828 L 80.846 0.828 L 80.846 18.603 L 83.175 18.603 L 83.462 17.418 L 83.523 17.418 C 83.742 17.841 84.068 18.172 84.504 18.419 C 84.939 18.664 85.423 18.786 85.955 18.786 C 86.907 18.786 87.61 18.347 88.06 17.469 C 88.509 16.59 88.734 15.219 88.734 13.351 L 88.734 11.369 C 88.734 9.969 88.647 8.871 88.478 8.081 Z M 85.893 13.191 C 85.893 14.104 85.856 14.819 85.781 15.336 C 85.705 15.854 85.581 16.223 85.402 16.439 C 85.226 16.658 84.986 16.766 84.687 16.766 C 84.454 16.766 84.24 16.712 84.043 16.601 C 83.845 16.493 83.685 16.329 83.563 16.112 L 83.563 9.003 C 83.657 8.662 83.822 8.384 84.054 8.165 C 84.285 7.947 84.539 7.838 84.809 7.838 C 85.096 7.838 85.317 7.951 85.473 8.175 C 85.63 8.401 85.738 8.777 85.799 9.308 C 85.861 9.84 85.891 10.595 85.891 11.576 L 85.891 13.191 L 85.893 13.191 Z" class="style-scope yt-icon"></path> <path d="M 92.603 13.802 C 92.603 14.607 92.626 15.209 92.673 15.611 C 92.72 16.013 92.819 16.305 92.97 16.49 C 93.12 16.674 93.351 16.766 93.663 16.766 C 94.084 16.766 94.376 16.601 94.531 16.274 C 94.689 15.947 94.774 15.402 94.788 14.64 L 97.219 14.783 C 97.234 14.891 97.241 15.042 97.241 15.232 C 97.241 16.389 96.923 17.255 96.29 17.826 C 95.658 18.398 94.762 18.685 93.605 18.685 C 92.215 18.685 91.241 18.25 90.684 17.377 C 90.124 16.505 89.846 15.157 89.846 13.332 L 89.846 11.145 C 89.846 9.266 90.136 7.892 90.714 7.027 C 91.293 6.161 92.283 5.728 93.687 5.728 C 94.654 5.728 95.397 5.905 95.914 6.26 C 96.432 6.615 96.796 7.165 97.008 7.916 C 97.219 8.666 97.325 9.701 97.325 11.022 L 97.325 13.167 L 92.603 13.167 L 92.603 13.802 Z M 92.96 7.899 C 92.817 8.075 92.723 8.365 92.673 8.767 C 92.626 9.169 92.603 9.778 92.603 10.597 L 92.603 11.495 L 94.665 11.495 L 94.665 10.597 C 94.665 9.792 94.637 9.183 94.583 8.767 C 94.529 8.351 94.43 8.059 94.287 7.887 C 94.143 7.718 93.922 7.631 93.623 7.631 C 93.322 7.633 93.101 7.723 92.96 7.899 Z" class="style-scope yt-icon"></path> </g> </g> </g> </svg>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- search container -->
            <div class="hidden md:flex items-center space-x-2 w-1/2">
                <!-- input box -->
                <div class="flex items-center flex-auto justify-between rounded border border-sideBarHoverBg">

                    <input class="bg-searchBarBg w-full rounded-l outline-none border-none p-0.5 pl-3 text-white placeholder-gray-500" type="text" placeholder="Search" id="search" value="">

                    <i class="material-icons md-21 text-center rounded-r text-gray-300 hover:text-white p-1 w-20 bg-searchIconBg cursor-pointer" id="searchBtn">search</i>
                </div>
                <!--<div class="flex items-center justify-center w-9 h-9 rounded-full bg-mainBg cursor-pointer">
                    <i class="material-icons text-white">mic</i>
                </div>-->
            </div>

            <!-- right icons container  -->
            <div class="flex items-center space-x-3 sm:space-x-6 pr-4">

                <!--<i class="material-icons text-white cursor-pointer">apps</i>-->
                <!--<i class="material-icons text-white cursor-pointer">notifications</i>-->
                @if (Session["UserId"] == null)
                {
                    <a href="/login" class="glyphicon-log-in">
                        <div class="btn-login">
                            <i class="material-icons text-white cursor-pointer">account_circle</i>
                            <span>
                                Đăng nhập
                            </span>
                        </div>
                    </a>
                }
                else
                {
                    <a href="/studio"><i class="material-icons text-white cursor-pointer">video_call</i></a>
                    <div class="relative">
                        <img id="userAvatar" class="w-9 h-9 rounded-full object-cover cursor-pointer" src="@Session["UserAvatarPath"]" alt="" draggable="false">
                        <div class="absolute user-info-dropdown" id="userInfoDropdown">
                            <!-- user info container -->
                            <div class="user-container" style="padding: 0.7rem;">
                                <div class="flex flex-col space-y-3">
                                    <div class="flex flex-col flex-auto space-y-1.5">
                                        <div class="flex items-center space-x-3">
                                            <img class="rounded-full object-cover" src="@Session["UserAvatarPath"]" alt="" width="36px">
                                            <div>
                                                <h1 class="text-white">@Session["UserName"]</h1>
                                                <h1 class="text-white">@Session["UserMeta"]</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border border-light-gray"></div>

                            <div class="flex flex-col w-full mb-2">

                            @if ((int)Session["UserRoleID"] == 1)
                            {
                                <a href="/admin">
                                    <div class="flex items-center space-x-5 hover:bg-sideBarHoverBg px-7 py-2.5 cursor-pointer">
                                        <i class="material-icons text-gray-400 md-21">admin_panel_settings</i>
                                        <h2 class="text-sm text-white">Quản lý trang web</h2>
                                    </div>
                                </a>
                            }

                                <a href="/channel/@Session["UserMeta"]">
                                    <div class="flex items-center space-x-5 hover:bg-sideBarHoverBg px-7 py-2.5 cursor-pointer">
                                        <i class="material-icons text-gray-400 md-21">account_box</i>
                                        <h2 class="text-sm text-white">Kênh của bạn</h2>
                                    </div>
                                </a>

                                <a href="/Login/logout">
                                    <div class="flex items-center space-x-5 hover:bg-sideBarHoverBg px-7 py-2.5 cursor-pointer">
                                        <i class="material-icons text-gray-400 md-21">logout</i>
                                        <h2 class="text-sm text-white">Đăng xuất</h2>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </nav>
    <!-- navbar ends here -->
    <!-- main container -->
    <div class="flex flex-row">
        <!-- left sidebar fixed -->
        <div class="sidebar" id="sideBar">
            <!-- main home explore btns -->
            <div class="flex flex-col w-full mb-2">

                <a data-sidebar-id="trang-chu" href="/">
                    <div class="flex items-center space-x-5 hover:bg-sideBarHoverBg px-7 py-2.5 cursor-pointer">
                        <i class="material-icons text-gray-400 md-21">home</i>
                        <h2 class="text-sm text-white">Trang chủ</h2>
                    </div>
                </a>

                @{Html.RenderAction("getSidebar", "Home");}

            </div>

            <div class="border border-searchIconBg"></div>

            <div class="flex flex-col w-full mb-2 mt-3">



                @if (Session["UserId"] == null)
                {
                    <h3 class="text-white" style="margin-left: 1.7rem; font-size: 13.2px">Đăng nhập để like videos, bình luận và đăng kí.</h3>
                    <a href="/login" class="glyphicon-log-in" style="margin-left: 1.7rem; margin-bottom: 12px; margin-top: 12px">
                        <div class="btn-login">
                            <i class="material-icons text-white cursor-pointer">account_circle</i>
                            <span>
                                Đăng nhập
                            </span>
                        </div>
                    </a>
                }
                else
                {
                    <h1 class="text-white" style="margin-left: 1.7rem;">Kênh đăng ký</h1>
                    Html.RenderAction("getSubscribeChannel", "Home", new { id = Session["UserId"] });
                }

            </div>

            <div class="border border-searchIconBg"></div>

            @{Html.RenderAction("getFooter", "Home", new { id = 2 });}

            @{Html.RenderAction("getFooter", "Home", new { id = 3 });}

            @{Html.RenderAction("getCopyrightLogo", "Home");}

        </div>

        @RenderBody();

    </div>

    <script src="~/Scripts/script.js"></script>
</body>
</html>

@if (HttpContext.Current.Request.Url.AbsolutePath != "https://localhost:44387/login") {
    Session["ReturnURL"] = HttpContext.Current.Request.Url.AbsolutePath;
}